.App {
  text-align: center;
}

.list_books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.book {
  flex: 1 0 300px;
  max-width: 400px;
  display: flex;
  align-items: flex-start;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 3vh;
}

.book__info {
  flex: 1 0;
}

.book__img {
  flex: 0 1;
  margin-right: 5px;
}
